<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "CoreBundle:Partials:sideNav.html.twig" %}
        <div class="container-fluid">
            <div class="row no-margin">
                {% include "CoreBundle:Partials:searchBar.html.twig" %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col m10 offset-m2 no-margin no-padding">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
            <script src="{{ asset('js/app.js') }}" ></script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key= AIzaSyBCMCi-BsZloG-raKi9YbuMbAicd84VfDE&callback=initMap">
            </script>
        {% endblock %}
        {% block specificJavascript %}
        {% endblock %}
    </body>
</html>
