
    <h1>Contact creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="modal-footer">
        <a href="#!" class=" modal-action waves-effect waves-green btn-flat"><input type="submit" value="Create" /></a>
    </div>
    {{ form_end(form) }}

